.justify-content-start-xs {
    @include media-breakpoint-down(sm) {
        justify-content: flex-start!important;
    }
}

.justify-content-end-xs {
    @include media-breakpoint-down(sm) {
        justify-content: flex-end!important;
    }
}

.justify-content-center-xs {
    @include media-breakpoint-down(sm) {
        justify-content: center!important;
    }
}

.header__w-50-xs {
    @include media-breakpoint-down(sm) {
        width: 50%;
        padding: 0 4rem;
        margin-top: 2rem;
    }
}

/* Container sizing */
@include media-breakpoint-down(xl) {
    .container {
        width: 100%;
    }
}