@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

$font-size-base:1.4rem;
$font-weight-base:300;
$font-family-base: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-primary : "Lato", helvetica, arial, sans-serif;
$font-accent : Georgia, serif;
$font-code : Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font-pre : "Courier 10 Pitch", Courier, monospace;
$font-helvetica : "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-arial : Arial, sans-serif;



