.navigation {
    background: #003b5c;
    font-size: 18px;
}

.navigation__list {
    zoom: 1;
    background: #fff;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    justify-content: center;
}

#navigation .navigation__list a {
    text-decoration: none;
    color: #003b5c;
    border-left: 1px solid #003b5c;
    padding: 15px 10px;
    display: inline-block;
    width: 100%;
    text-align: center;
}

#navigation .navigation__list a:hover {
    background-color: #003b5c;
    color: #fff;
}

#navigation .navigation__list li {
    width: 20%;
}

.navigation__list ul {
    list-style: none;
    z-index: 1000;
}

.navigation__drop {
    position: absolute;
    width: 16.6%;
    display: block;
}

#navigation ul.navigation__drop li {
    width: 100%;
    background: #3180c2;
}

input.navigation__checkbox {
    display: none;
}

.navigation__button {
    background-color: #fff;
    position: relative;
    margin: 0 auto;
    z-index: 2000;
    text-align: center;
    cursor: pointer;
    width: 50px;
    border-radius: 100%;
    margin-bottom: .5em;
}

.navigation__icon {
    position: relative;
    margin-top: 22px;
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
    width: 2rem;
    height: 4px;
    background-color: #003b5c;
    display: inline-block;
}

.navigation__icon::before,
.navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s;
}

.navigation__icon::before {
    top: -0.8rem;
}

.navigation__icon::after {
    top: 0.8rem;
}

.navigation__button:hover .navigation__icon::before {
    top: -1rem;
}

.navigation__button:hover .navigation__icon::after {
    top: 1rem;
}

.navigation__checkbox:checked+.navigation__button .navigation__icon {
    background-color: transparent;
}

.navigation__checkbox:checked+.navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg);
}

.navigation__checkbox:checked+.navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg);
}

.navigation label {
    user-select: none;
}

.navigation__mobile {
    display: none;
}

@media all and (max-width: 1092px) {
    .navigation__mobile {
        display: block;
    }

    #navigation .navigation__list li {
        width: 100%;
        padding: 0;
    }

    .navigation__list li a {
        padding: 1rem 0;
        border-left: none;
        border-top: 1px solid #2c73af;
    }

    .navigation__drop {
        position: relative;
        width: 100%;
        border: 2px solid #fff;
    }

    .navigation__checkbox~.navigation__list {
        display: none;
    }

    .navigation__checkbox:checked~.navigation__list {
        display: block;
    }
}

.hidden {
    display: none;
}