li.product {
    display: flex;
    list-style: none;
    width: 48%;
    margin-top: 2rem;
    padding: 1rem;
    justify-content: space-between;
    flex-direction: column;
    &:nth-child(1) {
        margin-right: 4%;
    }
    a {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-direction: column;
    }
    a:first-child {
        height: 100%;
    }
    img {
        width: 100%;
        max-width: 460px;
    }
    @include media-breakpoint-down(sm) {
        width: 100%;
        &:nth-child(1) {
            margin-right: 0;
        }
    }
}

ul.products {
    display: flex;
    flex-wrap: wrap;
}

.cart-contents-count {
    color: #fff;
    background-color: #2ecc71;
    font-weight: bold;
    border-radius: 10px;
    padding: 1px 6px;
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: top;
}

section .woocommerce {
    margin-top: 1rem;
}

section .woocommerce:first-child {
    margin: 1rem;
}

.woocommerce-store-notice {
    position: fixed;
    background-color: #8e2292;
    color: #fff;
    font-size: 100%;
    width: 100%;
    padding: 1rem 1rem 0 1rem;
    text-align: center;
}


.woocommerce-store-notice__dismiss-link {
    cursor: pointer;
    font-size: 80%;
    font-weight: 300;
    padding: 0px 3px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    margin-bottom: 1rem;
    float: right;
    &:active, &:hover {
        text-decoration: underline;
    }
}

/* Cart Link Icon */
.cart-contents-count {
    font-size: calc(12px + 16*(100vw - 320px)/3520);
}

/* Cart page */
img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail {
    width: 40vw;
    height: auto;
    @include media-breakpoint-down(sm) {
        width: 70vw;
    }
}

th.product-quantity, td.product-quantity, th.product-subtotal, td.product-subtotal  {
    display: none;
}

td.product-remove {
    padding-left: 0;
}

a.remove.icon-cancel-circle {
    font-size: 100%;
    padding: 1rem;
}

.coupon, .cart-collaterals {
    margin: 2rem 0;
}

.coupon {
    display: flex;
    label {
        margin: 0;
        align-self: center;
    }
    .button, .input-text {
        margin: 0 0 0 1rem;
    }
}

.actions {
    button[name="update_cart"] {
        display: none;
    }
}

@include media-breakpoint-down(xs) {
    th.product-thumbnail, td.product-thumbnail {
        display: none;
    }
}