li.product {
    display: flex;
    list-style: none;
    width: 48%;
    margin-top: 2rem;
    padding: 1rem;
    justify-content: space-between;
    flex-direction: column;
    &:nth-child(1) {
        margin-right: 4%;
    }
    a {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-direction: column;
    }
    img {
        width: 100%;
        max-width: 460px;
    }
}

ul.products {
    display: flex;
    flex-wrap: wrap;
}

.cart-contents-count {
    color: #fff;
    background-color: #2ecc71;
    font-weight: bold;
    border-radius: 10px;
    padding: 1px 6px;
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: top;
}

.cart-contents:before {
    font-size: 32px;
}

section .woocommerce {
    margin-top: 1rem;
}

.woocommerce-store-notice {
    position: fixed;
    background-color: #8e2292;
    color: #fff;
    font-size: 1.5rem;
    width: 100%;
    padding: 1rem 1rem 0 1rem;
    text-align: center;
}


.woocommerce-store-notice__dismiss-link {
    cursor: pointer;
    font-size: 14px;
    font-weight: 300;
    padding: 0px 3px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    margin-bottom: 1rem;
    float: right;
    &:active, &:hover {
        text-decoration: underline;
    }
}
